Rental-Server/internal/communication/converter/soap/convertor.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://prestige-wheels.at/conversion/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://prestige-wheels.at/conversion/" targetNamespace="http://prestige-wheels.at/conversion/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://prestige-wheels.at/conversion/">
            <xs:element name="conversionRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="conversionRequestPayload" type="tns:conversionRequestPayload"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="conversionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="conversionResponsePayload" type="tns:conversionResponsePayload"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailableCurrencyRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="senselessRequestPayload" type="tns:senselessRequestPayload"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="conversionRequestPayload">
                <xs:sequence>
                    <xs:element name="givenCurrency" type="tns:Currency"/>
                    <xs:element name="amount" type="xs:double"/>
                    <xs:element name="requiredCurrency" type="tns:Currency"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="conversionResponsePayload">
                <xs:sequence>
                    <xs:element name="amount" type="xs:double"/>
                    <xs:element name="convertedCurrency" type="tns:Currency"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="senselessRequestPayload">
                <xs:sequence>
                    <xs:element name="dontFill" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <!-- Response Wrapper -->
            <xs:element name="getAvailableCurrencyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="currencies" type="tns:Currency"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:simpleType name="Currency">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="USD"/>
                    <xs:enumeration value="JPY"/>
                    <xs:enumeration value="BGN"/>
                    <xs:enumeration value="CZK"/>
                    <xs:enumeration value="DKK"/>
                    <xs:enumeration value="GBP"/>
                    <xs:enumeration value="HUF"/>
                    <xs:enumeration value="PLN"/>
                    <xs:enumeration value="RON"/>
                    <xs:enumeration value="SEK"/>
                    <xs:enumeration value="CHF"/>
                    <xs:enumeration value="ISK"/>
                    <xs:enumeration value="NOK"/>
                    <xs:enumeration value="TRY"/>
                    <xs:enumeration value="AUD"/>
                    <xs:enumeration value="BRL"/>
                    <xs:enumeration value="CAD"/>
                    <xs:enumeration value="CNY"/>
                    <xs:enumeration value="HKD"/>
                    <xs:enumeration value="IDR"/>
                    <xs:enumeration value="ILS"/>
                    <xs:enumeration value="INR"/>
                    <xs:enumeration value="KRW"/>
                    <xs:enumeration value="MXN"/>
                    <xs:enumeration value="MYR"/>
                    <xs:enumeration value="NZD"/>
                    <xs:enumeration value="PHP"/>
                    <xs:enumeration value="SGD"/>
                    <xs:enumeration value="THB"/>
                    <xs:enumeration value="ZAR"/>
                    <xs:enumeration value="EUR"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="conversionResponse">
        <wsdl:part element="tns:conversionResponse" name="conversionResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAvailableCurrencyRequest">
        <wsdl:part element="tns:getAvailableCurrencyRequest" name="getAvailableCurrencyRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAvailableCurrencyResponse">
        <wsdl:part element="tns:getAvailableCurrencyResponse" name="getAvailableCurrencyResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="conversionRequest">
        <wsdl:part element="tns:conversionRequest" name="conversionRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ConversionPort">
        <wsdl:operation name="conversion">
            <wsdl:input message="tns:conversionRequest" name="conversionRequest">
            </wsdl:input>
            <wsdl:output message="tns:conversionResponse" name="conversionResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvailableCurrency">
            <wsdl:input message="tns:getAvailableCurrencyRequest" name="getAvailableCurrencyRequest">
            </wsdl:input>
            <wsdl:output message="tns:getAvailableCurrencyResponse" name="getAvailableCurrencyResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ConversionPortSoap11" type="tns:ConversionPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="conversion">
            <soap:operation soapAction=""/>
            <wsdl:input name="conversionRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="conversionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvailableCurrency">
            <soap:operation soapAction=""/>
            <wsdl:input name="getAvailableCurrencyRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAvailableCurrencyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ConversionPortService">
        <wsdl:port binding="tns:ConversionPortSoap11" name="ConversionPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>